<app-navigation></app-navigation>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="container">
      <div class="content-center brand">
        <div class="center">
          <div class="card-body m-4">
            <h4 class="float-left">
              <div class="row">
                <h5>
                  <span class="half-size">🗂️<b>{{ gameSettings.languagePackName }}</b></span>
                </h5>
              </div>
              <div class="row">
                <h5>
                  <span class="half-size">📇<b>Pack: {{ gameSettings.packNumber }}</b></span>
                </h5>
              </div>
            </h4>
          </div>    
           <div *ngIf="gameInitalized" class="card card-register">
            <div class="card-body m-4">
              <i (click)="launchSettingsModal()" class="float-right fa-solid fa-gears"></i>
              <h1><img src="https://flagcdn.com/24x18/gb-eng.png" srcset="https://flagcdn.com/48x36/gb-eng.png 2x,
                    https://flagcdn.com/72x54/gb-eng.png 3x" width="24" height="18" alt="England">
                  {{ questionAndAnswer.question.wordInSourceCountryLanguage }}
              </h1>
              <hr>
              <div class="container text-center">
                <div *ngFor="let answer of questionAndAnswer.answers; let i = index" class="row m-2">
                    <button (click)="checkAnswer(answer, $event)" type="button" class="btn btn-primary" style="min-width: 100%">
                      {{ answer.wordInTargetCountryLanguage }}
                    </button>
                </div>
              </div>
              <h5 *ngIf="endOfGame">End Of Pack</h5>
              <div class="d-flex justify-content-center mt-4">
                <button (click)="restart()" placement="bottom" tooltip="Restart Test" style="color:white"
                class="btn btn-danger" type="button">
                <i class="fa-solid fa-rotate-left"></i>
                </button>
              </div> 
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>