<div class="card">
    <div class="row">
      <div class="col-6">
        <div class="float-left m-4">
          <div style="margin-left: 25px;">
            <div class="row">
              <h5>
                <span class="half-size">🗂️<b>{{ gameSettings.languagePackName }}</b></span>
              </h5>
            </div>
            <div class="row">
              <h5>
                <span class="half-size">📇<b>Pack: {{ gameSettings.packNumber }}</b></span>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="float-right m-4">
          <div class="row">
            <div class="col">
              <div style="font-size: 10px; margin-bottom: 5px; margin-left: 15px; margin-right: 10px" class="row">
                <b>Type</b>
              </div>
              <bSwitch
                (click)="switchGameType()"
                [switch-off-text]="'📊'"
                [switch-on-text]="'⌨️'"
                [(ngModel)]="gameTypeSwitch">
              </bSwitch>
            </div>
            <div class="col">
              <div style="font-size: 10px; margin-bottom: 5px; margin-left: 30px; margin-right: 10px" class="row">
                Settings
              </div>
              <div style="margin-left: 27px">
                <i (click)="launchSettingsModal()" class="fa-solid fa-gears"></i>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>         