<div class="card">
    <div class="row">
      <div class="col-8">
        <div class="float-left m-4">
          <div style="margin-left: 25px; margin-top: 20px;">
            <div class="row">
              <h5>
                <span class="half-size">🗂️<b>{{ gameSettings.selectedLanguagePack.languagePackName }}</b></span>
              </h5>
            </div>
            <div class="row">
              <h5>
                <span class="half-size">📇<b>Pack: {{ gameSettings.packNumber }}</b></span>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="float-right mt-4 mb-4">
            <div class="row">
              <div class="col-12">
                <div style="font-size: 10px; margin-left: 10px; margin-bottom: 5px;">
                  <b>Type</b>
                </div>
              </div>
              <bSwitch
                (click)="switchGameType()"
                [switch-off-text]="'🗳'"
                [switch-on-text]="'⌨️'"
                [switch-size]="'large'"
                [(ngModel)]="gameTypeSwitch">
              </bSwitch>
            </div>
            <div class="row">
              <div class="col-12">
                <div style="font-size: 10px">
                  <b>Settings</b>
                </div>
              </div>
              <div style="margin-top: 6px; margin-left: 20px;">
                <i (click)="togglePackSelection()" class="fa-solid fa-gears" style="cursor: pointer; font-size: 25px;"></i>
              </div>
            </div>
          </div>
      </div>    
    </div>
  </div>         
  <app-language-pack-selector 
    *ngIf="showPackSelction" 
    (packSelected)="packSelected()"
    [gameSettings]="gameSettings">
  </app-language-pack-selector>