<app-navigation></app-navigation>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="container">
      <div class="content-center brand">
        <div class="center">
          <!-- <h2>All Words: {{ typingGame.allWords}}</h2> -->
          <!-- <h5>Words to Type: {{ typingGame.wordsToTypeArray | json }}</h5> -->
          <!-- <h1 class="float-right">
            <span class="half-size">{{countDownTimer.timeLeft}}</span>
          </h1> -->
          <div class="card">
            <div class="row">
              <div class="col-6">
                <div class="float-left m-4">
                  <div style="margin-left: 25px;">
                    <div class="row">
                      <h5>
                        <span class="half-size">🗂️<b>{{ gameSettings.languagePackName }}</b></span>
                      </h5>
                    </div>
                    <div class="row">
                      <h5>
                        <span class="half-size">📇<b>Pack: {{ gameSettings.packNumber }}</b></span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="float-right m-4">
                  <div class="row">
                    <div class="col">
                      <div style="font-size: 10px; margin-bottom: 5px; margin-left: 15px; margin-right: 10px" class="row">
                        <b>Type</b>
                      </div>
                      <bSwitch
                        [switch-off-text]="'⌨️'"
                        [switch-on-text]="'📊 '">
                      </bSwitch>
                    </div>
                    <div class="col">
                      <div style="font-size: 10px; margin-bottom: 5px; margin-left: 30px; margin-right: 10px" class="row">
                        Settings
                      </div>
                      <div style="margin-left: 27px">
                        <i (click)="launchSettingsModal()" class="fa-solid fa-gears"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
          </div>         
          <div *ngIf="currentGameState.isGameInitialized && typingGame != null" class="card card-register">
            <div class="card-body m-4">
             <div *ngIf="!currentGameState.currentGameComplete">
                <h1>
                  <img src="https://flagcdn.com/24x18/es.png" srcset="https://flagcdn.com/48x36/es.png 2x,
                    https://flagcdn.com/72x54/es.png 3x" width="24" height="18" alt="Spain">
                  {{ typingGame.currentWordTranslation.wordInTargetCountryLanguage }}
                </h1>
                <h1><img src="https://flagcdn.com/24x18/gb-eng.png" srcset="https://flagcdn.com/48x36/gb-eng.png 2x,
                      https://flagcdn.com/72x54/gb-eng.png 3x" width="24" height="18" alt="England">
                  {{ typingGame.currentWordTranslation.wordInSourceCountryLanguage }}
                </h1>
                <form autocomplete="off">
                  <div class="form-group">
                    <input #typingbox type="text" id="gameInput" (keyup)="onLetterTyped($event)" class="form-control"
                      autocomplete="false" name="hidden" type="text" placeholder="Type to Play">
                  </div>
                </form>
              </div>  
              <div *ngIf="currentGameState.currentGameComplete">
                <h1 class="row justify-content-center">🎉 Pack Complete! 🎉</h1>
                <div class="row justify-content-center">
                  <img src="https://flagcdn.com/24x18/es.png" srcset="https://flagcdn.com/48x36/es.png 2x,
                  https://flagcdn.com/72x54/es.png 3x" width="24" height="18" alt="Spain">

                  <h4 style="margin-left: 10px; margin-right: 10px;">
                    ¡Bien hecho!
                  </h4>
                  <img src="https://flagcdn.com/24x18/es.png" srcset="https://flagcdn.com/48x36/es.png 2x,
                  https://flagcdn.com/72x54/es.png 3x" width="24" height="18" alt="Spain">
                </div>
                <div class="row justify-content-center">
                <div class="row">
                  <div class="col-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Accuracy</th>
                          <th>Time to Completion (Seconds)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ currentGameState.statsForRecentGame.accuracyPercentage }}% ({{ currentGameState.statsForRecentGame.totalWordsForCurrentGame - currentGameState.statsForRecentGame.incorrectWords.length}} /  {{ currentGameState.statsForRecentGame.totalWordsForCurrentGame }})</td>
                          <td>{{ currentGameState.statsForRecentGame.totalTimeTypingInSeconds }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                </div>
                <div class="row justify-content-center">
                  <h5>Start over?</h5>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button (click)="restart()" placement="bottom" tooltip="Restart Test" style="color:white"
                  class="btn btn-primary" type="button">
                  <i class="fa-solid fa-rotate-left"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>