<app-navigation></app-navigation>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="container">
      <div class="content-center brand">
        <div class="center">
          <!-- <h2>All Words: {{ typingGame.allWords}}</h2> -->
          <!-- <h5>Words to Type: {{ typingGame.wordsToTypeArray | json }}</h5> -->
          <!-- <h1 class="float-right">
            <span class="half-size">{{countDownTimer.timeLeft}}</span>
          </h1> -->
          <div class="card-body m-4">
            <h4 class="float-left">
              <div class="row">
                <h5>
                  <span class="half-size">🗂️<b>{{ selectedPackName }}</b></span>
                </h5>
              </div>
              <div class="row">
                <h5>
                  <span class="half-size">📇<b>Pack: {{ selectedPackNumber }}</b></span>
                </h5>
              </div>
            </h4>
          </div>
          <div *ngIf="isGameInitialized" class="card card-register">
            <div class="card-body m-4">
 
              <div *ngIf="!currentGameComplete">
                <i (click)="launchSettingsModal()" class="float-right fa-solid fa-gears"></i> 
                <h1>
                  <img src="https://flagcdn.com/24x18/es.png" srcset="https://flagcdn.com/48x36/es.png 2x,
                    https://flagcdn.com/72x54/es.png 3x" width="24" height="18" alt="Spain">
                  {{ typingGame.currentWordTranslation.wordInTargetCountryLanguage }}
                </h1>
                <h1><img src="https://flagcdn.com/24x18/gb-eng.png" srcset="https://flagcdn.com/48x36/gb-eng.png 2x,
                      https://flagcdn.com/72x54/gb-eng.png 3x" width="24" height="18" alt="England">
                  {{ typingGame.currentWordTranslation.wordInSourceCountryLanguage }}
                </h1>
                <form autocomplete="off">
                  <div class="form-group">
                    <input #typingbox type="text" id="gameInput" (keyup)="onLetterTyped($event)" class="form-control" autocomplete="false" name="hidden" type="text"
                      placeholder="Type to Play">
                  </div>
  
                </form>
              </div> 
               
              <div *ngIf="currentGameComplete">
                <h4>Pack Complete!</h4>
                <h5>Start over?</h5>
              </div>
              <!-- TODO: add a settings modal -->
              <!-- 
                 - select language (Source, Target)
                 - display playback timer
                 - mute

                 Translate everything from 1 language (any) to target language
                - So long as the entries are all in the same position
                  then you can translate any langage into any languge.
                    - Find the language file with source name
                    - Find the language file with target name
                    - Positionally they will translate.
                  
                - With some duplication, so that you only need to store language files
                  once you need a Key to identify the names of the language files. 
                - For convience you should use a language (use english as the itermediary)
              -->
              <!-- <pre>{{ typingGame | json }}</pre> -->
            
              <div class="d-flex justify-content-center">
                <button (click)="restart()" placement="bottom" tooltip="Restart Test" style="color:white"
                class="btn btn-primary" type="button">
                <i class="fa-solid fa-rotate-left"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>