<h4>📇 {{ gameSettings.selectedLanguagePack.languagePackName }} </h4>
<hr style="background-color:white; width: 100%">
<swiper 
    [slidesPerView]="3" 
    [spaceBetween]="50" 
    [navigation]="true" 
    class="netflix-slider">
    <ng-template *ngFor="let pack of gameSettings.selectedLanguagePack.packs" swiperSlide>
        <img 
            (click)="onPackSelected(pack.packNumber)" 
            src="assets/img/gradient-floor-backdrop.png">
            <div id="label">Pack: {{ pack.packNumber}}</div>
    </ng-template>
</swiper>