div#label {
    color: white;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom {
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 15px;
    color: white;
    z-index: -0;
}

.middle {
    position: absolute;
    bottom: 55px;
    left: 10px;
    font-size: 15px;
    color: white;
    z-index: 0;
    font-weight: bold;
}

.top {
    position: absolute;
    bottom: 85px;
    left: 10px;
    font-size: 15px;
    color: white;
    z-index: 0;
}

