<h4>📇 {{ gameSettings.selectedLanguagePack.languagePackName }} </h4>
<hr style="background-color:white; width: 100%">
<swiper
    [slidesPerView]="3" 
    [spaceBetween]="50" 
    [navigation]="true" 
    class="netflix-slider">
    <ng-template  *ngFor="let pack of gameSettings.selectedLanguagePack.packs; let i = index" swiperSlide>
        <div class="img-container">
            <img 
            (click)="onPackSelected(pack.packNumber)" 
            src="assets/img/gradient-floor-backdrop.png">
            <div id="label">Pack: {{ pack.packNumber}}</div>
            <div class="top"> 
                {{ gameSettings.selectedLanguagePack.packs[i].wordTranslations[0].wordInEnglish }}
            </div>
            <div class="middle"> 
                {{ gameSettings.selectedLanguagePack.packs[i].wordTranslations[1].wordInEnglish }} 
            </div>
            <div class="bottom"> 
                {{ gameSettings.selectedLanguagePack.packs[i].wordTranslations[2].wordInEnglish }}...
            </div>
            <div class="pack-img"> 
                <img src="https://www.pngkey.com/png/full/333-3336446_second-language-english-as-a-second-language-icon.png">
            </div>
        </div>
    </ng-template>
</swiper>