<app-navigation></app-navigation>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">Type Lang⌨️</h1>
        <h3>
          Learn Languages By Typing 
        </h3> 
        <button [routerLink]="['/games']" class="btn btn-primary mr-1" type="button">Start Learning</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>